<!DOCTYPE html>
<html lang="en">
<body>
<div id="container">

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

  
</div>
</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'jquery_ujs' %>
<%= yield :javascript %>
</body>
</html>
